[Desktop Entry]
Name=Vortex
Comment=The elegant, powerful, and open-source mod manager from Nexus Mods.
Exec=/opt/Vortex/com.nexusmods.vortex %U
Icon=com.nexusmods.vortex
Terminal=false
Type=Application
Categories=Game;
Keywords=mod;modding;mods;nexus;nexusmods;game;
MimeType=x-scheme-handler/nxm;
StartupNotify=true
StartupWMClass=Vortex
